.navbar{
	margin-bottom: 0px;
}
body{
	background-image: url("img/bg.png");
	color:wait ;

}

/*#d2d2d2
*/
a{ 
	color: white;
 	text-decoration: none; 
 }
 
   /*A:hover { color: black; text-decoration: underline; }
   .link { color: ; }*/

    